<div class="container">
  <div class="">
    <div class="layout-spacing">
      <div class="statbox widget box box-shadow">

        <div class="widget-content widget-content-area">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div id="content_2" class="tabcontent">
                <div class="story-container-2">

                  <p class="divider">Suggestions </p>
                  <div *ngFor="let s of suggestions | slice:0:4" class="single-story whenHover">
                    <div class="story-dp seen">
                      <img [src]="'data:image/png;base64,'+s?.profileImage">
                    </div>
                    <div class="story-author alligner">
                        <p class="name">{{s?.firstName}} {{s?.lastName}} . <small>{{s?.departement}}</small></p>
                        <p class="time">{{s?.profile}}</p>
                      <mdb-icon fas icon="user-plus" style="color: #2C93FF"></mdb-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div (click)="navigateToUsersList()" class="widget-footer p-2 text-center bg-light-primary clickable">
          <a class="">View All</a>
        </div>
      </div>
    </div>
  </div>
</div>
