<div style="background-image:url('assets/registerbackground.png');">
  <div style="opacity: 0.9" class="main">
    <div class="container">
      <h2><b>Build</b> YOUR ACCOUNT</h2>
      <hr>
      <mat-horizontal-stepper linear >

        <mat-step [completed]= "firstFormGroup.valid">

          <fieldset>
            <div class="row">
              <div class="col-md-4">
                <div class="form-file">
                  <input type="file" class="inputfile" name="your_picture" id="your_picture"  (change)="readURL($event)"/>
                  <label for="your_picture">
                    <figure>
                      <img *ngIf="!imageUrl" src="assets/temp_for_register/images/your-picture.png" alt="" class="your_picture_image">
                      <img *ngIf="imageUrl" [src]="imageUrl" alt="" class="your_picture_image">

                    </figure>
                    <span class="file-button">choose picture</span>
                  </label>
                </div>

              </div>

              <div class="col-md-6">
                <form [formGroup] = firstFormGroup>
                  <div class="form-group-flex">
                    <div class="form-group">
                      <label for="first_name"><b>First name</b></label>
                      <input formControlName="firstname" type="text" name="first_name" id="first_name" placeholder="First Name"/>
                    </div>
                    <div class="form-group">
                      <label for="last_name"><b>Last name</b></label>
                      <input formControlName="lastname" type="text" name="last_name" id="last_name" placeholder="Last Name" />
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </fieldset>
          <div class="float-right">
            <button class="btnSize" mat-raised-button matStepperNext color="primary">Next</button>
          </div>

        </mat-step>

        <mat-step>
          <div class="row">

            <div class="form-row">

              <div class="form-input">
                <label for="username"><b>Username</b></label>
                <input type="text" name="street_name" id="username" placeholder="Username" />
              </div>
              <div class="form-input">
                <label for="password"><b>Password</b></label>
                <input type="text" name="street_number" id="password" placeholder="Password" />
              </div>
            </div>
            <div class="form-input">
              <label for="email"><b>Email</b></label>
              <input type="email" name="email" id="email" placeholder="Email" />
            </div>


            <div class="form-input inputWithIcon">
              <label for="birthdate"><b>Birthdate</b></label>
              <input [matDatepicker]="picker" placeholder="Birthdate" id="birthdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>

          </div>
          <br>
          <button class="btnSize float-right" mat-raised-button matStepperNext color="primary">Next</button>
          <button class="btnSize float-left" mat-raised-button matStepperPrevious style="background-color: #9caec0">Previous</button>

        </mat-step>

        <mat-step>

          <fieldset>
            <div class="form-radio">
              <label class="label-radio" ></label>
              <div class="form-flex">
                <div class="form-radio">
                  <input type="radio" name="job" value="designer" id="designer" />
                  <label for="designer">
                    <figure>
                      <img class="sizeImage" src="assets/temp_for_register/images/Angular.png" alt="">
                    </figure>
                    <span>Angular</span>
                  </label>
                </div>

                <div class="form-radio">
                  <input type="radio" name="job" value="coder" id="coder" checked="checked" />
                  <label for="coder">
                    <figure>
                      <img src="assets/temp_for_register/images/icon-2.png" alt="">
                    </figure>
                    <p>Coder</p>
                  </label>
                </div>

                <div class="form-radio">
                  <input type="radio" name="job" value="developer" id="developer" />
                  <label for="developer">
                    <figure>
                      <img src="images/icon-3.png" alt="">
                    </figure>
                    <span>Developer</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-radio">
              <label for="job" class="label-radio"></label>
              <div class="form-flex">
                <div class="form-radio">
                  <input type="radio" name="job" value="designer" id="designer" />
                  <label for="designer">
                    <figure>
                      <img class="sizeImage" src="assets/temp_for_register/images/Angular.png" alt="">
                    </figure>
                    <span>Angular</span>
                  </label>
                </div>

                <div class="form-radio">
                  <input type="radio" name="job" value="coder" id="coder" checked="checked" />
                  <label for="coder">
                    <figure>
                      <img src="assets/temp_for_register/images/icon-2.png" alt="">
                    </figure>
                    <p>Coder</p>
                  </label>
                </div>

                <div class="form-radio">
                  <input type="radio" name="job" value="developer" id="developer" />
                  <label for="developer">
                    <figure>
                      <img src="images/icon-3.png" alt="">
                    </figure>
                    <span>Developer</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <br>
          <button class="btnSize float-right" mat-raised-button matStepperNext color="primary">Next</button>
          <button class="btnSize float-left" mat-raised-button matStepperPrevious style="background-color: #9caec0">Previous</button>




        </mat-step>

        <mat-step>
          <fieldset>
            <div class="row">

              <div class="form-row form-input-flex">
                <div class="form-input">
                  <label for="city"><b>City</b></label>
                  <input type="text" name="city" id="city" placeholder="City" />
                </div>
                <div class="form-input">
                  <label for="country"><b>Country</b></label>
                  <input type="text" name="country" id="country" placeholder="Country" />
                </div>
              </div>

            </div>

            <div class="row">
              <div class="form-row form-input-flex">
                <div class="form-input">
                  <label for="address"><b>Address</b></label>
                  <input type="text" name="address" id="address" placeholder="Address" />
                </div>
                <div class="form-input">
                  <label for="department"><b>Department</b></label><br>
                  <select name="departent" id="department">
                    <option value="">DigiX Team</option>
                    <option value="Viet Nam">Banking Lab</option>
                  </select>
                </div>
              </div>
            </div>

          </fieldset>
          <br>
          <button class="btnSize float-right" mat-raised-button matStepperNext color="primary">Submit</button>
          <button class="btnSize float-left" mat-raised-button matStepperNext style="background-color: #9caec0">Previous</button>

        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </div>

</div>
