
<mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-light white" class="fixed-top">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" (click)="goHome()">
      <img class="tailleImage" src="assets/logoNavbar.png" alt="">
    </a>
  </mdb-navbar-brand>

  <links>
        <!-- Links -->
    <ul class="navbar-nav nav-flex-icons ml-auto">

      <li class="nav-item">
        <a (click)="goHome()" class="nav-link"><mdb-icon fas icon="home" ></mdb-icon></a>
      </li>

      <li class="nav-item">
        <a (click)="goToChat()" class="nav-link"><mdb-icon fas icon="comment"></mdb-icon></a>
      </li>

      <li class="nav-item" (click)="badgeRestart()" >
        <a  class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="bell" class="iconB" mdbDropdownToggle></mdb-icon>
            <mdb-badge *ngIf="badge != 0" class="notifPos" color="red" style="border-radius: 30%; height: 60%">{{badge}}</mdb-badge>
            <div class="dropdown-menu dropdown-menu-right row z-depth-1">
                <div class="row" style="width: 400px; height: 400px; overflow-y: auto">
                  <div class="col-md-12" *ngFor="let notif of myNotification">
                    <div class="d-flex align-items-center ">
                        <img class="rounded-circle" [src]="'data:image/png;base64,'+notif?.to_userImage" alt="" style="height: 10%; width: 10%" />
                      <div style="margin-left: 20px; margin-top: 7px">
                        <div class="d-flex">
                          <p style="font-size: 16px;">
                            <b>{{notif?.from_firstname|uppercase}} {{notif?.from_lastname|uppercase}}</b> {{notif?.notificationText | customSlice: 0:50}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>

          </div>
        </a>
      </li>
      <li class="nav-item">
        <a mdbDropdownToggle class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon classInside="dropdown-toggle" fas icon="user-circle" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-left dropdown-primary">
              <a class="dropdown-item" (click)="goToProfile()">Account</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
