<nav class="navbar navbar-expand-xl navbar-dark fixed-top bg-dark fixed-top" id="navbar">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

    <div class="navbar-nav center">
      <a routerLink="/accueil" class="nav-item nav-link active navigation"><i class="fa fa-home"></i><span class="spanColor">Accueil</span></a>
      <a routerLink="/profile" class="nav-item nav-link navigation"><i class="fa fa-user"></i><span class="spanColor">Profile</span></a>
      <a class="nav-item nav-link navigation"><i class="fa fa-envelope"></i><span class="spanColor">Messages</span></a>
      <a class="nav-item nav-link navigation"><i class="fa fa-bell"></i><span class="spanColor">Notifications</span></a>
<!--      <a href="#" class="nav-item nav-link navigation"><i class="fas fa-sign-out-alt"></i><span class="spanColor">Déconnection</span></a>-->

    </div>
  </div>
</nav>

