<app-navbar></app-navbar>
<div class="main-content">

  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 437px; background-image: url(assets/couverture3.png); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <div class="form-file">
                  <input hidden type="file" class="inputfile" name="your_picture" id="your_picture"  (change)="onFileChanged($event)"/>
                  <label for="your_picture">
                    <figure>
                      <img *ngIf="!imageUrl && !currentDev?.profileImage"  src="assets/profileImgNotSelected.png" alt="" class="your_picture_image rounded-circle">
                      <img *ngIf="imageUrl" [src]="imageUrl" alt="" class="your_picture_image rounded-circle">
                      <img *ngIf="!imageUrl" [src]="'data:image/png;base64,'+currentDev?.profileImage" alt="" class="your_picture_image rounded-circle">
                    </figure>
                    <span hidden class="file-button">choose picture</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">

            </div>
          </div>

          <div class="card-body pt-0 pt-md-4">
            <br>
            <div class="text-center">
              <h3>
                {{currentDev?.firstName}} {{currentDev?.lastName}}
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{currentDev?.email}}
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{currentDev?.profile}} - {{currentDev?.departement}}
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My Account</h3>
              </div>
              <div class="col-4 text-right">
                <a  (click)="validateChanges()" class="btn btn-sm btn-primary" style="color: white">Edit</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="profileForm">
              <h6 class="heading-small text-muted mb-4">General informations</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username">Username</label>
                      <input readonly type="text" formControlName="username" id="input-username" class="form-control form-control-alternative" placeholder="Username">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email</label>
                      <input readonly type="email" formControlName="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-first-name">First name</label>
                      <input type="text" formControlName="nom" id="input-first-name" class="form-control form-control-alternative" placeholder="nom">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Last name</label>
                      <input type="text" formControlName="prenom" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Profile</label>
                      <div class="input-group mb-3">
                        <select formControlName="profile" class="custom-select form-control-alternative colorr" (change)="changeProfile($event)">
                          <option *ngFor="let p of allProfiles" value="{{p.profileName}}">{{p.profileName}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Department</label>
                      <div class="input-group mb-3">
                        <select formControlName="departement" class="custom-select form-control-alternative colorr" (change)="changeDepartment($event)" >
                          <option *ngFor="let dep of departement" value="{{dep}}">{{dep}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">personnel Informations </h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input formControlName="address" id="input-address" class="form-control form-control-alternative" placeholder="Home Address" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-city">City</label>
                      <input formControlName="ville" type="text" id="input-city" class="form-control form-control-alternative" placeholder="City">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-country">Country</label>
                      <input formControlName="pays" type="text" id="input-country" class="form-control form-control-alternative" placeholder="Pays">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Code postal</label>
                      <input formControlName="codePostal" type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">About me</h6>
              <div class="pl-lg-4">
                <div class="form-group focused">
                  <textarea formControlName="aPropos" rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
