<h2 mat-dialog-title> Créer une publication </h2>
<hr>

<div class="box-body p-0">

  <div class="row">
    <div class="col-md-4">
      <div class="p-3 d-flex align-items-center osahan-post-header">

        <div class="dropdown-list-image mr-3">
          <img class="rounded-circle" [src]="'data:image/png;base64,'+data.userImage" alt="" />
        </div>
        <div class="font-weight-bold mr-3">
          <div class="text-truncate">{{data.firstName| uppercase}} {{data.lastname| uppercase}}</div>
        </div>
      </div>
    </div>

  </div>


    <div>
      <form [formGroup] = "publicationForm">
        <textarea placeholder="Quoi de neuf ?" formControlName="text" cols="170" rows="6"></textarea>
      </form>
      <div class="row">
        <div class="col-md-12" >
          <img *ngIf="loaded1" class="stylingImg" [src]="loaded1">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 bord">
            <input type="file" name="file" id="file" class="inputfile" multiple (change)="onFileChanged($event)" />
            <label for="file"><b>Ajouter à votre publication <mat-icon>image</mat-icon> </b></label>
        </div>


      </div>
    </div>



</div>
<br>

<div class="d-flex justify-content-center">
  <button mat-raised-button mat-dialog-close color="primary" style="margin-right: 65px" (click)="publier()">Publier</button>
  <button mat-raised-button mat-dialog-close color="warn" style="margin-left: 65px">Abondonner</button>
</div>


