.dropdown-list-image {
  position: relative;
  height: 4.5rem;
  width: 3.5rem;
}
.dropdown-list-image img {
  height: 3.5rem;
  width: 3.5rem;
}
textarea{
  margin-left: 12px;
  border: white;
}
textarea:focus{
outline: white;
}

.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA;
}
.social-icon:hover {
  border-color: transparent;
}

.social-icon i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative;
}
.social-icon i:last-child {
  color: #FFF !important;
}

.social-icon:hover i:first-child {
  margin-top: -40px;
}

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA;
}
.social-icon-lg:hover {
  border-color: transparent;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  padding: 12px;
  border: 2px;
  border-radius: 15px;
  color: #595959;
  background-color: #fdffff;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  cursor: pointer;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}


.stylingImg{
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
.bord{
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  border-color: #c8cbcf;
}
.bord:hover{
  cursor: pointer;
}

textarea{
  width: 100%;
  font-size: 18px;
  color: #9fa8da;
  font-size: 20px;
}
.text-truncate{
  font-size: 22px;
}
mat-icon{
  font-size: 37px;
}
#addImg{
  color: forestgreen;
}


.btnSize{
  width: 100px !important;
  height: 45px !important;
  font-size: 17px;
}
.b{

  border-bottom: 2px;
}
