<br><br>
<div class="col-md-3">
  <div class="card card-profile">
    <div class="card-avatar">
      <a href="javascript:;">
        <img class="img" src="https://static.remove.bg/remove-bg-web/8be32deab801c5299982a503e82b025fee233bd0/assets/start-0e837dcc57769db2306d8d659f53555feb500b3c5d456879b9c843d1872e7baa.jpg" />
      </a>
    </div>
    <div class="card-body">
      <h4 class="card-title">Firas Secref</h4>
      <h6 class="card-category text-gray">Full Stack</h6>
      <hr>
      <h4 class="fontStyle">Departement</h4>
      <h6 class="card-description" style="text-align: left; margin-left: 5px">Banking Lab</h6>
      <hr>
      <div class="row">
        <div class="col-8">
          <h4 class="fontStyle">Relations</h4>
        </div>
        <div class="col-md-4">
          <p style="margin-right: 0px">15</p>
        </div>
      </div>
    </div>
  </div>
</div>
