<div class="">
    <div class="ml-auto mr-auto">
      <div class="media-area">
        <div class="media">
          <a class="float-left">
            <div class="avatar">
              <img class="media-object" src="assets/profile.jpg" alt="...">
            </div>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Firas Secref <small>· Banking Lab</small></h4>
            <h6 class="text-muted"></h6>

            <p>Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>

            <div class="section col-md-10 ml-auto mr-auto ">
                <div class="row">
                  <div class="col-md-4">
                    <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.unsplash.com/photo-1524482131769-b23c0f633d7c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07b4c55ab5d14393ef67287eb918b1e0&auto=format&fit=crop&w=600&h=800&q=80 3203w">
                  </div>
                  <div class="col-md-4">
                    <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.unsplash.com/photo-1540280369237-dea08361593a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7f031f7878a3c611ddce1db800a0a55&auto=format&fit=crop&w=600&h=800&q=60 2592w">
                  </div>
                </div>
              </div>
            <div class="media-footer">
              <a href="#pablo" class="btn btn-danger btn-link float-right">
                <i class="material-icons">favorite</i> 243
              </a>
            </div><hr>
          </div>
        </div>

        <div class="media">
          <a class="float-left" href="#pablo">
            <div class="avatar">
              <img class="media-object" alt="Tim Picture" src="assets/profile.jpg">
            </div>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Firas Secref<small>· Yesterday</small></h4>

            <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
            <p> Don't forget, You're Awesome!</p>

            <div class="media-footer">
              <a href="#pablo" class="btn btn-link float-right">
                <i class="material-icons">favorite</i> 25
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
