
<div class="timeline-body" *ngFor="let p of postsInput; let i = index;">
  <div class="timeline-header">
    <span class="userimage" ><img style="width: 100%; height: 100%; " class="rounded-circle" [src]="'data:image/png;base64,'+p?.userImage" alt=""></span>
    <span class="username" ><a class="decoratio" href="javascript:;">{{p?.firstName}} {{p?.lastName}}</a> .<small>{{p?.userDepartment}}</small></span>
  </div>
  <div class="timeline-content" style="margin-top: 15px">
    <p>
      {{p?.text}}
    </p>
    <div class="section col-md-10 ml-auto mr-auto ">
      <div class="row">
        <div>
          <img class="img-raised rounded img-fluid" style="border-radius: 30px" alt="Raised Image" [src]="'data:image/png;base64,'+p?.image1">
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-footer">
    <div class="stats">
      <mdb-icon id="dislike" *ngIf="p?.ilikeIt" (click)="deleteLike(p.id, i)" fas icon="heart" class="clickable" style="font-size: 20px; margin-left: 5px; margin-bottom: 2px; color: #0d4aa8"></mdb-icon>
      <mdb-icon id="like" *ngIf="!p?.ilikeIt" (click)="updateLikes(p.id, i)" far icon="heart" class="clickable" style="font-size: 20px; margin-left: 5px; margin-bottom: 2px;"></mdb-icon>

      <span class="stats-total" style="margin-left: 7px" id="likeNb"><b>{{p?.likesNb}}</b></span>
    </div>
  </div>
  <hr>
</div>

